In [ ]:
## 1.Find the maximum and minimum values in a list
numbers = [23, 45, 12, 67, 34, 89, 56]
print(max(numbers))
print(min(numbers))

89
12

In [ ]:
# 2.Reverse the list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list = [1,2,3,4,5,6,7,8,9,10]
newlist = list[::-1]
print(newlist)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
#3. Count how many times 5 appears in [1, 5, 2, 5, 3, 5, 4, 5, 6]
list = [1,5,2,5,3,5,4,5,6]
list1 = list.count(5)
print(list1)

4

In [ ]:
# 4. Find common elements between [1, 2, 3, 4, 5] and [4, 5, 6, 7, 8]
lst1 = [1, 2, 3, 4, 5]
lst2 = [4, 5, 6, 7, 8]
common_elements = list(set(lst1).intersection(list(set(lst2))))
print(common_elements)

[4, 5]

In [ ]:
##5.Create a list of lists: [[1, 2], [3, 4], [5, 6]]
list = [[1,2],[3,4],[5,6]]
print(list)

[[1, 2], [3, 4], [5, 6]]

In [7]:
 ###6.Remove duplicates from [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
numbers = [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
set1=set[numbers] 
unique_numbers = list(set1(numbers))
print(unique_numbers)

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
##7.Sort the list [64, 34, 25, 12, 22, 11, 90] in descending order
list = [64,34,25,12,22,11,90]
list.sort(reverse=True)
print(list)

[90, 64, 34, 25, 22, 12, 11]

In [ ]:
##8.Find the average of numbers in [15, 23, 31, 42, 56, 78, 91]
numbers = [15,23,31,42,56,78,91]
average = sum(numbers)/len(numbers)
print(average)

48.0

In [ ]:
##9.Find the second largest number in [45, 67, 23, 89, 12, 34, 78]
list = [45,67,23,89,12,34,78]
second_largest= sorted(list,reverse=True)[1]
print(second_largest)

78

In [ ]:
## 10.Find the sum of each sublist in [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
nested_list = [[1,2,3],[4,5,6],[7,8,9]]
sums= [sum(sublist) for sublist in nested_list]
print(sums)

[6, 15, 24]

In [ ]:
## 11.Find the maximum value in each sublist of [[1, 5, 3], [9, 2, 7], [4, 8, 6]]
nested_list = [[1,5,3],[9,2,7],[4,8,6]]
max_value = [max(sublist) for sublist in nested_list]
print(max_value)

[5, 9, 8]

In [ ]:
## 12.Find the length of each string in ["apple", "banana", "cherry", "date"]
list=["apple","banana","cherry","date"]
print((len(list[0]),len(list[1]),len(list[2]),len(list[3])))

(5, 6, 6, 4)