In [ ]:
# TUPLE DATATYPE ASSIGNMENT
# ========================

##1.Create a tuple of first 10 natural numbers
list = [1,2,3,4,5,6,7,8,9,10]
tuple = tuple(list)
print(tuple)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [2]:
##2.Find the length of tuple (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
list=(1,2,3,4,5,6,7,8,9,10)
print(len(list))

10

In [6]:
## 3.Access the 3rd element from tuple ('a', 'b', 'c', 'd', 'e')
tuple = ('a','b','c','d','e')
third_element = tuple[3]
print(third_element)

d

In [7]:
##4.Find the maximum value in tuple (23, 45, 12, 67, 34, 89, 56)
tuple = (23,45,12,67,34,89,56)
max_value = max(tuple)
print(max_value)

89

In [8]:
## 5.Count how many times 5 appears in (1, 5, 2, 5, 3, 5, 4, 5, 6)
tuple = (1,5,2,5,3,5,4,5,6)
new_tuple = tuple.count(5)
print(new_tuple)

4

In [9]:
 ### 6.Create a tuple of mixed data types (integer, float, string, boolean)
mixed_type = (1,3.14,"hello",True)
print(mixed_type)

(1, 3.14, 'hello', True)

In [10]:
## 7.Find the index of element 'python' in ('java', 'python', 'c++', 'javascript')
my_tuple = ('java','python','c++','javascript')
index_python = my_tuple.index('python')
print(index_python)

1

In [11]:
## 8.Check if 25 exists in tuple (10, 20, 30, 40, 50)
my_tuple = (10,20,30,40,50)
my_tuple_1 = 25 in my_tuple
print(my_tuple_1)

False

In [12]:
## 9.Create a tuple of first 5 even numbers
numbers = (2,4,6,8,10)
print(numbers)

(2, 4, 6, 8, 10)

In [13]:
## 10.Find the average of numbers in tuple (15, 23, 31, 42, 56, 78)
numbers = (15,23,31,42,56,78)
average =  sum(numbers)/len(numbers)
print(average)

40.833333333333336